body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:100px;
  top:70px;
  width:360px;
  height:760px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:760px;
}
#u2 {
  position:absolute;
  left:2px;
  top:372px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:120px;
  top:150px;
  width:320px;
  height:568px;
  color:#F2F2F2;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u4 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:245px;
  top:122px;
  width:70px;
  height:10px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:10px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-3px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:245px;
  top:736px;
  width:70px;
  height:70px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u8 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:268px;
  top:759px;
  width:25px;
  height:25px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:470px;
  top:145px;
  width:40px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u12 {
  position:absolute;
  left:470px;
  top:712px;
  width:40px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u13 {
  position:absolute;
  left:483px;
  top:151px;
  width:10px;
  height:567px;
}
#u13_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u13_end {
  position:absolute;
  left:-5px;
  top:550px;
  width:20px;
  height:18px;
}
#u13_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:567px;
}
#u14 {
  position:absolute;
  left:442px;
  top:396px;
  width:92px;
  height:36px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:14px;
  color:#CCCCCC;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:115px;
  top:70px;
  width:10px;
  height:40px;
}
#u16_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u16_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u17 {
  position:absolute;
  left:434px;
  top:70px;
  width:10px;
  height:40px;
}
#u17_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u17_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u17_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u18 {
  position:absolute;
  left:120px;
  top:85px;
  width:320px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u19 {
  position:absolute;
  left:244px;
  top:74px;
  width:71px;
  height:36px;
  font-size:14px;
  color:#CCCCCC;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:120px;
  top:150px;
  width:320px;
  height:570px;
  font-size:48px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
}
#u22 {
  position:absolute;
  left:2px;
  top:277px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:132px;
  top:400px;
  width:297px;
  height:40px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:40px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24 {
  position:absolute;
  left:132px;
  top:500px;
  width:297px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:132px;
  top:450px;
  width:297px;
  height:40px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u27 {
  position:absolute;
  left:370px;
  top:457px;
  width:50px;
  height:27px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:27px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:372px;
  top:459px;
  width:24px;
  height:24px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:398px;
  top:465px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:166px;
  top:322px;
  width:225px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:38px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:200px;
  top:560px;
  width:184px;
  height:19px;
  font-size:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:526px;
  top:519px;
  width:164px;
  height:97px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:97px;
}
#u38 {
  position:absolute;
  left:2px;
  top:40px;
  width:160px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:526px;
  top:568px;
  width:-190px;
  height:2px;
}
#u39_seg0 {
  position:absolute;
  left:-200px;
  top:-10px;
  width:204px;
  height:20px;
}
#u39_seg1 {
  position:absolute;
  left:-200px;
  top:-10px;
  width:20px;
  height:16px;
}
#u40 {
  position:absolute;
  left:-146px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
