<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.free.walker.service.itinerary.basic.Country" alias="Country"/>
		<typeAlias type="com.free.walker.service.itinerary.basic.Province" alias="Province"/>
		<typeAlias type="com.free.walker.service.itinerary.basic.City" alias="City"/>
		<typeAlias type="com.free.walker.service.itinerary.basic.Agency" alias="Agency"/>
		<typeAlias type="com.free.walker.service.itinerary.basic.Tag" alias="Tag"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${mysql_database_driver}"/>
				<property name="url" value="${mysql_database_url}"/>
				<property name="username" value="${mysql_database_username}"/>
				<property name="password" value="${mysql_database_password}"/>
				<property name="poolMaximumActiveConnections" value="32"/>
				<property name="poolMaximumIdleConnections" value="32"/>
			</dataSource>
    	</environment>
	</environments>

	<mappers>
		<mapper resource="com/free/walker/service/itinerary/dao/mapper/BasicMapper.xml"/>
	</mappers>
</configuration>