<header class="container lh-34">
    <div class="row">
        <div class="col-xs-12 text-center">分类清单</div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <ul class="categories">
                <li>
                    需求
                </li>
                <li>
                   产品
                </li>
                <li>
                    已成团
                </li>
            </ul>
        </div>
        <div class="col-xs-10 item-list">
                <div class="row reqList">
                    <div class="col-xs-12 reqItem" data-ng-repeat="requirement in requirements" data-ng-click="viewRequirement('requirement')">
                        <span data-ng-repeat="dest in requirement.destCities">{{ dest }} </span>
                        <br/>
                        <i class="fa fa-plane"></i> {{ requirement.departDate }} <i class="fa fa-plane mirror"></i> {{ requirement.returnDate }}
                        <span class="float-right" >
                            尚未报价 | 已有2家报价
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="css/agentInventory.css"/>