<div id="citySelector">
    <div class="container region-switch">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <div class="region" data-ng-class="{'selected':domestic}" data-ng-click="chooseRegion(true)">国内城市</div>
                    <div class="region" data-ng-class="{'selected':!domestic}" data-ng-click="chooseRegion(false)">国际城市</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container section-second">
        <div id="domesticCities" class="row">
            <ul class="col-xs-12" data-ng-repeat="unit in citiesCollections">
                <div id="cityAnchor_{{unit.abbr}}">{{unit.abbr}}</div>
                <li data-ng-repeat="city in unit.cities" data-ng-click="selectDestination(city);">
                    <label>{{city.chinese_name}}</label>
                    <i data-ng-if="multiple && itinerary.destinations.indexOf(city)>-1" class="fa fa-check-circle float-right" style="margin-right:7px;"></i>
                </li>
            </ul>
        </div>
    </div>
    <aside id="cityIndexes">
        <a class="cityIndex" data-ng-click="scrollTo('cityAnchor_'+collection.abbr)" data-ng-repeat="collection in citiesCollections">{{collection.abbr}}</a>
    </aside>
    <div class="footer_placeHolder"></div>
</div>

<link rel="stylesheet" href="css/citySelector.css"/>