<header class="container">
    <div class="row">
        <div class="col-xs-4">
            <i class="fa fa-chevron-circle-left" data-ng-if="subPage!=''" data-ng-click="backward();"></i>
        </div>
        <div class="col-xs-4 text-center">
            {{header}}
        </div>
        <div class="col-xs-4">

        </div>
    </div>
</header>
<div id="ItineraryInfo" class="container" data-ng-show="subPage==''">
    <div id="departurn" class="row">
        <div class="info-heading col-xs-12">
            <i class="fa fa-retweet"></i>&nbsp;往返城市
        </div>
        <div class="col-xs-6 departure">
            <div class="info-content" data-multiple="false" data-node="itinerary.starting" data-ng-click="toSubPage('citySelector', $event)">
                <i class="fa fa-plane"></i>
                <span>{{itinerary.starting.cityName}}</span>
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
        <div class="col-xs-6 return">
            <div class="info-content"  data-multiple="false" data-node="itinerary.returnTo" data-ng-click="toSubPage('citySelector', $event)">
                <i class="fa fa-plane"></i>
                <span>{{itinerary.returnTo.cityName}}</span>
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
    </div>
    <div id="destination" class="row">
        <div class="info-heading col-xs-12">
            <i class="fa fa-globe"></i>&nbsp;目的地
        </div>
        <div class="col-xs-12">
            <div class="info-content text-center" style="padding-left:0px;padding-right:0px;">
                <ul class="selectedCity text-left" data-ng-class="{'hidden': !destinationSelected}">
                    <li name="cityItem" data-ng-repeat="destination in itinerary.destinations">
                        <span>{{destination.cityName}}</span>
                        <i class="fa fa-times" data-ng-click="removeDestination(destination);"></i>
                    </li>
                </ul>
                <div data-ng-class="{'add-destination-icon':destinationSelected}" data-multiple="true" data-ng-click="toSubPage('citySelector', $event)"><i class="fa  fa-plus"></i>&nbsp;<span>添加目的地</span></div>
            </div>
        </div>
        <div class="col-xs-12 text-left" style="margin:10px 0px 5px 0px;">热门城市</div>
        <div id="hot-cities">
            <div data-ng-repeat="city in hotCities" class="col-xs-4" data-ng-click="selectDestination(city, true)"><span class="hot-city">{{city.cityName}}</span></div>
        </div>
    </div>
    <div id="duration" class="row relative">
        <div class="col-xs-12">
            <div class="info-heading col-xs-12">
                <i class="fa fa-calendar"></i>&nbsp;出游时间
            </div>
        </div>
        <div class="col-xs-4 time-beginning">
            <div class="info-content" data-ng-model="itinerary.from" data-ng-click="toSubPage('datePicker',$event)">{{itinerary.from}}</div>
        </div>

        <div class="col-xs-1 text-center" style="line-height:45px;padding-left:3px;padding-right:3px"><span>至</span></div>

        <div class="col-xs-4 time-ending">
            <div class="info-content" data-ng-model="itinerary.to" data-ng-click="toSubPage('datePicker',$event)">{{itinerary.to}}</div>
        </div>
    </div>
    <div id="tourists" class="row">
        <div class="col-xs-12">
            <div class="info-heading col-xs-12">
                <i class="fa fa-users"></i>&nbsp;出行人数
            </div>
        </div>
        <div class="col-xs-12">
            <div class="info-content">
                <i class="fa fa-user"></i>
                <select name="total-number" data-ng-model="itinerary.tourists">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
    </div>
    <div id="requirementDetails" class="row">
        <div class="col-xs-12 info-heading">
            <i class="fa fa-edit"></i>&nbsp;旅行偏好
        </div>
        <div class="col-xs-12">
            <textarea placeholder="您可以输入您的必选景点，是否携带宠物等等信息，以便于我们的行程规划师设计出更贴合您需求的旅行计划" data-ng-model="itinerary.preferences"></textarea>
        </div>
        <div class="col-xs-6 col-xs-push-3">
            <button type="button" data-ng-click="saveProposal()">下一步</button>
        </div>
    </div>
    <div class="footer_placeHolder"></div>
</div>
<div data-ng-include="subPage" data-ng-hide="subPage==''"></div>
<link href="css/customize.css" rel="stylesheet"/>