<div id="datePicker">
    <div class="container">
        <div class="row">
            <ul class="col-xs-12">
                <li data-ng-repeat="month in months">
                    <div>{{month.month+1}}月 {{month.year}}</div>
                    <div>
                        <span>日</span><span>一</span><span>二</span><span>三</span><span>四</span><span>五</span><span>六</span>
                    </div>
                    <div>
                        <span data-ng-repeat="day in month.days"
                              data-ng-class="{disabled : moment(day,'YYYY.MM.DD').isBefore(datePickerParam.from), selected : moment(day,'YYYY.MM.DD').isSame(datePickerParam.current)}"
                              data-ng-click="pickDate(day)" >{{isNaN(day) ? moment(day,'YYYY-MM-DD').date():''}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer_placeHolder"></div>
</div>