<header class="container lh-34">
    <div class="row">
        <div class="text-center">参团行程</div>
    </div>
</header>
<div id="enrolledlist-frame" class="container">
	<div class="col-xs-12 enrolledlist-item roundCornerBox wrapBox" style="overflow:hidden" data-ng-repeat="product in enrolledlist.products" data-ng-click="switchView('product')">
		{{ product.title }}
		<br/>
		<i class="fa fa-cny"></i> {{ product.currentPrice }} <i class="fa fa-user"></i> {{ product.currentAttdNum }}
		<span data-ng-if="product.dealClosed">(已定价)</span>
		<span data-ng-if="!product.dealClosed">({{product.nextAttdNum}}) <i class="fa fa-exclamation-circle highlighted"></i></span>
		<br/>
		<i class="fa fa-plane"></i> {{ product.departDate }}
		<div class="statusTag">{{product.status}}</div>
	</div>
</div>
<link href="css/enrolledlist.css" rel="stylesheet"/>