<header class="container lh-34">
    <div class="row">
        <div class="text-center">我的</div>
    </div>
</header>
<div id="mylist-frame" data-ng-show="!showSub" class="container">
	<div id="mylist-profile" class="row">
		<div class="col-xs-4">
			<img alt="avatar" src="images/avatar_default.jpg" style="width:80px;height:80px"/>
		</div>
		<div class="col-xs-4">
			这个ID怎么能居中？
		</div>
	</div>
    <div id="mylist-menu" class="row">
        <div class="fixed-height-content" data-ng-click="switchView('enrolledList')" >
            	<i class="fa fa-book"></i>&nbsp;&nbsp;&nbsp;&nbsp;参团列表 &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-exclamation-circle highlighted"></i>
        </div>
        <div class="fixed-height-content" data-ng-click="switchView('reqList')" >
            	<i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;定制列表
        </div>
        <div class="fixed-height-content" data-ng-click="switchView('myList')" >
            	<i class="fa fa-bookmark"></i>&nbsp;&nbsp;&nbsp;&nbsp;收藏夹           	
        </div>
        <div class="fixed-height-content" data-ng-click="switchView('myList')" >
            	<i class="fa fa-gear"></i>&nbsp;&nbsp;&nbsp;&nbsp;设置
        </div>
    </div>
    
</div>
<div data-ng-include="include"></div>
<link href="css/mylist.css" rel="stylesheet"/>