<header class="container lh-34">
    <div class="row" data-ng-show="!showSubPage">
        <div class="col-xs-4" >
            <i class="fa fa-chevron-circle-left" data-ng-click="goBack();" data-ng-show="pageIndex > 0"></i>
        </div>
        <div class="col-xs-4 text-center">支付成功</div>
        <div class="col-xs-4 text-right"></div>
    </div>
</header>
<div id="postpay-frame" data-ng-show="!showSubPage" class="container">
    <div id="main-info" data-ng-click="switchView('product')">
    	<div class="col-xs-12" style="background-image:url('images/chambord.jpg');background-size:cover; height:190px; padding-left:0px; padding-right:0px">
    		<div class="col-xs-12" style="height:100px; ">
    		</div>
    		<div class="col-xs-12" style="color:#fff; background:rgba(0, 0, 0, 0.5); height:20px; font-size: 16px; line-height:20px">
	        	{{ postpay.title }}
	        </div>
    		<div class="col-xs-12" style="color:#fff; background:rgba(0, 0, 0, 0.5); height:16px; font-size: 12px; line-height:16px">
	            	<i class="fa fa-plane"></i> {{ postpay.departDate }} &nbsp;&nbsp;
	            	<i class="fa fa-plane mirror"></i> {{ postpay.returnDate }} &nbsp;&nbsp;
	        </div>
	        <div class="col-xs-12" style="color:#fff; background:rgba(0, 0, 0, 0.5); height:30px; font-size: 12px">
	        	<div style="width: {{ 100/postpay.prices.length }}%; height:100%; display: inline-block;" data-ng-repeat="price in postpay.prices">
	        		<span style="color:#3ef"><i class="fa fa-cny"></i> {{ price.price }} <br/><i class="fa fa-user"></i> {{ price.attdNum }}</span>
	        		<span data-ng-if="$index == postpay.prices.length-1" style="position:absolute;right:10px; top:0px;"><i class="fa fa-cny"></i> ? <br/><i class="fa fa-user"></i> ?</span>        		
	        	</div>
	        </div>
	        <div class="col-xs-12" style="color:#fff; background:rgba(0, 0, 0, 0.5); height:24px; font-size: 12px">
	        	<div id="arrow-holder" style="width:100%; padding-right:10px">
	        		<div class="stroke_container" style="width: {{ 100/postpay.prices.length }}%" data-ng-repeat="price in postpay.prices"><div data-ng-if="$index == postpay.prices.length-1" class="stroke_tail"></div><div data-ng-if="$index != postpay.prices.length-1" class="stroke"></div></div>
	        	</div> 
	        </div>
	    </div>
    </div>
    <div id="payment-info">
        <div class="col-xs-12 wrapBox" style="padding-top:10px">
	    	<span style="float:left; color: #3f3; line-height: 28px; margin-right:5px"><i class="fa fa-check-circle fa-2x" ></i></span>
    		您已成功支付“{{ postpay.title }}”并参团。快来邀请好友一起加入这精彩行程吧！阶梯式报价，最终成团人数越多，价格越低！赶快行动，分享行程到：
    	</div>
    </div>
	<div id="share-list">
		<div class="col-xs-6 text-center" style="padding-top:10px; line-height:28px">
			<i class="fa fa-wechat"></i> 围拆 <br/>
			<i class="fa fa-weibo"></i> 围脖<br/>
			<i class="fa fa-renren"></i> 丫丫 <br/>
		</div>
		<div class="col-xs-6 text-center" style="padding-top:10px; line-height:28px">
			<i class="fa fa-facebook-official"></i> 非死不可 <br/>
			<i class="fa fa-twitter"></i> 推他 <br/>
			<i class="fa fa-instagram"></i> 阴死他 <br/>
		</div>
	</div>
    <div class="menu-place-holder"></div>
</div>
<link href="css/postpay.css" rel="stylesheet"/>
<link href="css/stroke.css" rel="stylesheet"/>