<header class="container lh-34">
    <div class="row">
        <div class="col-xs-12 text-center">我的定制</div>
    </div>
</header>
<div id="reqlist-frame" class="container">
	<div class="col-xs-12 reqlist-item roundCornerBox wrapBox relative" style="overflow:hidden" data-ng-repeat="requirement in reqlist.requirements" data-ng-click="switchView('requirement')">
		<span data-ng-repeat="dest in requirement.destCities">{{ dest }} </span>
		<br/>
		<i class="fa fa-plane"></i> {{ requirement.departDate }} <i class="fa fa-plane mirror"></i> {{ requirement.returnDate }}
		<br/>
		共{{ requirement.proposalNum }}条推荐行程 <i class="fa fa-exclamation-circle highlighted"></i>
		<div class="statusTag">
			待反馈
		</div>
	</div>
</div>
<link href="css/reqlist.css" rel="stylesheet"/>