{
    "template": {
        "query": {
       	    "multi_match": {
                "query": "{{term}}",
                "type": "best_fields",
                "fields": [
                    "ref_entity.requirements.destination.city.name",
                    "ref_entity.requirements.destination.city.pinyin_name",
                    "ref_entity.requirements.destination.city.chinese_name",
                    "destination_rel"
                ]
            }
        },
        "from": "{{from}}",
        "size": "{{size}}",
        "sort": [
             { "{{sort_key}}": { "order": "{{sort_order}}", "unmapped_type": "{{sort_type}}", "missing": "_last" } }
        ],
        "min_score": 0.01,
        "track_scores": true
    }
}