{
    "template": {
        "query": {
            "filtered": {
                "query": {
                  "match": {
                    "proposal_owner.uuid": "{{proposal_owner}}"
                  }
                },
                "filter": {
                    "term": {
                        "status": "{{product_status}}"
                    }
                }
            }
        },
        "from": "{{from}}",
        "size": "{{size}}",
        "sort": [
             { "{{sort_key}}": { "order": "{{sort_order}}", "unmapped_type": "{{sort_type}}", "missing": "_last" } }
        ],
        "min_score": 0.01,
        "track_scores": true
    }
}