#ItineraryInfo{
    background-color: whitesmoke;
    font-size : 15px;
    text-align: center;
}

#departurn .col-xs-6 div.info-content span{
    display: inline-block;
    border-left: 2px solid whitesmoke;
    margin-left: 3px;
    padding-left: 10px;
    width: 60%;
    text-align: center;
}

#departurn .col-xs-6.departure{
    padding-right:3px;
}

#departurn .col-xs-6.return{
    padding-left:3px;
}

#departurn .fa-plane{
    font-size: 20px;
}

#departurn .return .fa-plane{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#destination ul.selectedCity{
    float: left;
    width: 85%;
    padding:0px 5px 0px 13px;
    height: 35px;
    margin: -8px 0px;
    border-right: 2px solid whitesmoke;
    overflow-x: auto;
    white-space: nowrap;
}
#destination ul.selectedCity li[name='cityItem']{
    line-height: 23px;
    margin: 5px 5px 5px 0px;
    padding: 0px 10px;
    font-size:16px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid sandybrown;
    list-style: none;
}

#destination ul.selectedCity li[name='cityItem'] span{
    border-right: 1px solid sandybrown;
    margin-right: 5px;
    padding-right: 5px;
}

#destination div.add-destination-icon{
    float: left;
    width: 15%;
    text-align: center;
}

#destination div.add-destination-icon > i{
    font-size: 24px;
}

#destination div.add-destination-icon > span{
    display: none;
}
#destination div.col-xs-4:nth-child(3n-2){
    padding-right:3px;
}
#destination div.col-xs-4:nth-child(3n-1){
    padding-right: 3px;
    padding-left: 3px;
}
#destination div.col-xs-4:nth-child(3n){
    padding-left: 3px;
}

#destination div.col-xs-4 .hot-city{
    border: 1px solid #66afe9;
    border-radius: 5px;
    line-height: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
    display: block;
    height: 27px;
    margin: 5px 0px;
}

#duration div.time-beginning{
    padding-right: 0px;
    text-align: center;
    width: 45%;
}

#duration div.time-ending{
    padding-left: 0px;
    text-align: center;
    width: 45%;
}

#duration div[class*="time-"] .info-content{
    padding-left: 0px;
    padding-right: 0px;
}

#tourists select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-left: 1px solid black;
    width: 80%;
    padding-left: 40%;
    border-radius: 0px;
    margin-left: 10px;
}


#requirementDetails textarea {
    height: 150px;
    width: 100%;
    border:none;
    border-radius: 5px;
    padding: 3px;
}

#requirementDetails button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    font-size: 17px;
    line-height: 34px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: sandybrown;
}

#datePicker > .container > .row > ul{
    list-style: none;
}

#datePicker > .container > .row > ul > li > div:first-child{
    background-color: whitesmoke;
    text-align: center;
    line-height: 30px;
}

#datePicker > .container > .row > ul > li > div:nth-child(2){
    background-color: #e3e3e3;
}

#datePicker > .container > .row > ul > li > div:nth-child(3){
    white-space: normal;
}

#datePicker > .container > .row > ul > li > div > span{
    display: inline-block;
    text-align: center;
    background-color: transparent;
    width: 14.27%;
}
#datePicker > .container > .row > ul > li > div:nth-child(3) > span {
    line-height: 40px;
    border-radius: 20px;
}

#datePicker > .container > .row > ul > li > div:nth-child(3) > span.disabled{
    color: #e3e3e3;
}

#datePicker > .container > .row > ul > li > div:nth-child(3) > span.selected{
    background-color: sandybrown;
    color: white;
}