#preproduct-frame{
    background-color: whitesmoke;
    font-size : 15px;
}
#preproduct-frame .info-heading{
    height: 35px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 15px;
}

#preproduct-summary-inner{
    height: 115px;
    padding: 13px;
    margin-bottom: 5px;
}

#preproduct-summary-inner .roundCornerBox{
	height: 65px;
}

.itineraries {
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.itiSummary{
	height: 60px;
	line-height: 40px;
}

.upsidedown {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.mirror {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.menu-place-holder {
	height: 45px;
}

hr {
	margin-top: 1px;
	margin-bottom: 1px;
}

.roundCornerBox {
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    padding:10px;
    margin-bottom:5px;
}

.shadowBox{  
  -webkit-box-shadow: 3px 3px 3px #CCC; 
  -moz-box-shadow: 3px 3px 3px #CCC; 
  box-shadow: 3px 3px 3px #CCC; 
}

#preproduct-next-button button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    font-size: 17px;
    line-height: 34px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: sandybrown;
}

#preproduct-next-button button:active {
	background-color: #F4B470;
}

#preproduct-pay-button button:active {
	background-color: #F4B470;
}

.itiSummary:active{
	-webkit-box-shadow: 0px 0px 0px #CCC; 
  	-moz-box-shadow: 0px 0px 0px #CCC; 
  	box-shadow: 0px 0px 0px #CCC; 
  	margin-left: 3px;
  	margin-top: 3px;
}

#preproduct-frame.ng-hide-remove-active{
    -webkit-animation: slideInLeft 0.5s ease;
    -o-animation: slideInLeft 0.5s ease;
    animation: slideInLeft 0.5s ease;
    display:inline-block;
    width: 100%;
}

#preproduct-frame.ng-hide-add-active{
   -webkit-animation: slideOutLeft 0.5s ease;
    -o-animation: slideOutLeft 0.5s ease;
    animation: slideOutLeft 0.5s ease;
    display:inline-block;
    width: 100%;
}

#preproduct-pay-button button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    font-size: 17px;
    line-height: 34px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: sandybrown;
}

#preproduct-pay-mode-selection button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    line-height: 24px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: sandybrown;
}

#paymode-content{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	line-height: 30px;
	
}

#paymode-content input[type=text] {
	height: 24px;
}

#switch-bank {
	padding-top: 10px;
	padding-bottom: 10px;
}

#switch-wechat {
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
}

#preproduct-frame2.ng-hide-remove-active{
    -webkit-animation: slideOutLeft 0.5s ease;
    -o-animation: slideOutLeft 0.5s ease;
    animation: slideOutLeft 0.5s ease;
    display:inline-block;
    width: 100%;
    vertical-align: top;
}

#preproduct-frame2.ng-hide-add-active{
	-webkit-animation: slideInLeft 0.5s ease;
    -o-animation: slideInLeft 0.5s ease;
    animation: slideInLeft 0.5s ease;
    display:inline-block;
    width: 100%;
    vertical-align: top;
}

.checked{
    color: green;
}

ul.option_list > li{
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #6F6767;
    list-style: none;
}

ul.option_list > li:last-child{
    border-bottom: 1px solid #6F6767;
}


.option_list .fa-minus{
    padding: 5px 10px;
    border-width: 1px 0px 1px 1px;
    border-color: green;
    border-style: solid;
    border-radius: 5px 0px 0px 5px;
    color: green;
}

.option_list .fa-plus{
    padding: 5px 10px;
    border-width: 1px 1px 1px 0px;
    border-color: green;
    border-style: solid;
    border-radius: 0px 5px 5px 0px;
    color: green;
}

.option_list span.quantity{
    border: 1px solid green;
    padding: 5px 10px;
    height: 26px;
    display: inline-block;
    line-height: 14px;
}