.title{
    margin:20px 0;
    font-size:20px;
    font-weight: bold;
}

.two-columns .left{
    float: left;
    width: 10%;
    text-align: left;
}

.two-columns .right{
    float: right;
    width: 87%;
    text-align: left
}

ul li{
    margin:5px 0px;
}

.submitButton{
    border-radius: 5px;
    background-color: sandybrown;
    font-size: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
}