#wl-input-search-dest.relative input + div{
    position : absolute;
    top : 0px;
    bottom : 0px;
    right : 14px;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid sandybrown;
    font-size : 25px;
    color : sandybrown;
}



#wl-input-search-dest input{
    border: 1px solid sandybrown;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 55px;
    font-weight: normal;
}


.border-decoration{
    margin-bottom: 2px;
}

.border-decoration::before{
    content: '';
    font-size: 5px;
    border-width: 6px 3px 1px 3px;
    border-style: solid;
    border-color: #419641;
    border-radius: 3px;
    margin-right: 3px;
}
div#search{
    padding-top: 15px;
}
div#search #searchWrapper > div{
    margin-bottom: 15px;
}
div#search #searchWrapper div.col-xs-4:nth-child(3n-2){
    padding-right:3px;
}
div#search #searchWrapper div.col-xs-4:nth-child(3n-1){
    padding-right: 3px;
    padding-left: 3px;
}
div#search #searchWrapper div.col-xs-4:nth-child(3n){
    padding-left: 3px;
}

div#search #searchWrapper .hotSpot .row span{
    display: block;
    border-radius: 5px;
    border: 1px solid sandybrown;
    line-height: 27px;
    margin: 5px 0px;
}

div#search #searchWrapper .searchHistory ul{
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

div#search #searchWrapper .searchHistory ul.row li{
    list-style: none;
    border-top: 1px solid whitesmoke;
    line-height: 35px;
}
