#reqlist-frame{
    background-color: whitesmoke;
    font-size : 15px;
    padding-bottom: 45px;
}
#reqlist .info-heading{
    height: 35px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 15px;
}

div.fixed-height-content{
    height: 45px;
    padding: 13px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.reqlist-item{
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

#mylist-profile img{
    height: 80px;
    width: 80px;
}

.itineraries {
	background-color: white;
}


.upsidedown {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.mirror {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.menu-place-holder {
	height: 45px;
}

hr {
	margin-top: 1px;
	margin-bottom: 1px;
}

.highlighted {
	color: rgb(245, 146, 63);
}

.roundCornerBox {
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    padding:10px;
    margin-bottom:5px;
}

.wrapBox {
	word-wrap:break-word; 
    word-break:break-all;
    white-space:normal;
}
