.stroke {
    height: 6px;
    width: 100%;
	background-color: #2df;
}

.stroke::before {
    border: 6px solid #2df;
    border-radius: 6px;
    position: absolute;
    left: -6px;
    top: -3px;
    content:'';
}
.stroke_tail {
    height: 6px;
    width: 100%;
	background-color: #ccc;
}
.stroke_tail::before {
    border: 6px solid #2df;
    border-radius: 6px;
    position: absolute;
    left: -6px;
    top: -3px;
    content:'';
}
.stroke_tail::after {
    border-top: 9px solid transparent;
    border-left: 16px solid #ccc;
	border-bottom: 9px solid transparent;
    position: absolute;
    content: '';
    right: -16px;
    top: -6px;
}
.stroke_container {
	position: relative;
	display: inline-block;
	left: 0px;
	top: 0px;
}