<div id="application-root" class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 id="main_title" class="masthead-brand">{{t "app_title"}}</h3>
                    {{navigation-bar}}
                </div>
            </div>
            {{outlet}}
            <div class="mastfoot">
                <div class="inner">
                    <p>
                        Built on <a href="http://getbootstrap.com">Bootstrap</a> and <a href="http://emberjs.com">Ember.js</a>, by <a href="https://cn.linkedin.com/in/li-wang-2222a226">@Wally</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

