<div class="inner cover search-bar">
    <form class="" role="search">
        <div class="form-group">
            <input type="text" class="form-control search clearable" placeholder="{{t 'search.search_hint'}}">
            <i class="fa fa-search"></i>
        </div>
    </form>
</div>
